# SQL基础概念

SQL全称：Structured Query Language （结构化查询语言）

SQL功能：存取数据，访问查询、处理数据库

数据库：Relational Database 关系型数据库

数据库程序：RDBMS（Relational Database Management System），如MySQL，SQL Server等

数据库(database)——表（table）——行列、数据

# SQL语法
例：
```sql
use database_name; --选择数据库

set names utf8; --设置使用的字符集

SELECT * FROM table_name; --读取整个数据表

```
***SQL语句对大小写不敏感，两者等价***

***分号（;）是分隔每条SQL语句的方法***

SQL语言可以分为：
1. **数据操作语言（DML）**：主要包括数据的查询和更新（SELECT/UPDATE/DELETE/INSERT INTO...）
2. **数据定义语言（DDL）**：包括创建或删除表格，规定表之间的连接等

## SQL SELECT 语句
```sql
SELECT col_name1, col_name2,... FROM table_name; 
``` 
读取数据表中特定几列 
```sql 
SELECT * FROM table_name;
```
读取整个数据表
```sql
SELECT DISTINCT col_name1, col_name2,... FROM table_name; 
```
读取特定几列中的不重复值
```sql
SELECT col_name1,col_name2,... 
FROM table_name
WHERE col_name1 operator value; 
```
字符格式时使用单引号，数值格式不能用

特殊operator包括：BETWEEN （范围）；IN（多个可能值）；LIKE（搜索某种模式，用'%'作为通配符）；<>（不等于，某些版本可以写作!=）

operator 可以包括逻辑运算 AND/OR/NOT 等
```sql
SELECT col_name1,col_name2,...
FROM table_name
ORDER BY col_name1 DESC, col_name2 ASC
```
ORDER BY 用于排序，默认升序（ ASC ），降序要强调 （ DESC ）

```sql
SELECT count(*) FROM table_name
```
计算表格总行数

## SQL INSERT INTO 语句
```sql
INSERT INTO table_name VALUES (value1, vulue2,...)
```
向数据表插入新的一行
```sql
INSERT INTO table_name (col_name1, col_name2,...) VALUES (value1, value2,...)
```
向数据表指定几列插入新的一行数据

## SQL UPDATE 语句
```sql
UPDATE table_name SET col_name1=value1 WHERE col_name2=value2
```
向col_name2=value2的这一个数据行，添加value1至其col_name1列中

## SQL DELETE 语句
```sql
DELETE 
FROM table_name
WHERE col_name1=value1
```
删除满足条件col_name1=value1的这一行

```sql
DELETE FROM table_name 

DELETE * FROM table_name
```
删除所有行，表的结构、属性依旧完整

## SQL 通配符
+ `%`匹配任意长度的字符（可以为0字符）
+ `_`只能匹配单个字符（不可为0字符）
+ `[]`匹配集合中的一个字符（和_一样也是单字符）